* {
  box-sizing: border-box;
}
body {
	margin: 0;
	font-family: Arial;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;

}
	td, th {
		border: 1px solid #dddddd;
		text-align: center;
		padding: 8px;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}

.header {
	padding: 5px;
	text-align: center;
	background: #1abc9c;
	color: white;
	font-size: 30px;
}
	.header>h1>a{
		color: white;
	}
	.header>h1>a{
		text-decoration: none;
	}


.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.mapContainer{
	width: 50%;
	margin: auto;
}
.mapContainer>h2{
	text-align: center;
	margin: 1em 0em 0em 0em;

	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color: #ededed;
	padding: .5em 0em;
}
.map {
	height: 400px;
	/*padding: 0.8em;*/

	border: 1px solid black;
	background-color: #ededed;
}